body{
	background-color:e3e70e;;
	background-size:cover;
	font-family:arial;
	color:back;
}
h1{
	color:white;
}
h2{
	background-color:white;
	line-hight:0px;
	text-align:2px;
	
}
span{
	float:right;
	margin-left:0px;
}
